:root {
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	--dark-alt: #202B3E;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: var(--dark-alt);
	color: var(--light);
}

.App{
  padding: 32px;
}
h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

h4 {
	font-size: 18px;
	color: var(--light-alt);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 16px;
}

.search-form{
  margin-bottom: 60px;
  position: relative;
}

.input{
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.booklist,.wishlist{
  margin-bottom : 30px;
  /* background-color: white;
  color: var(--dark-alt) */
  display:flex;
  gap:1rem;
}

.button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	color: #34495e;
  text-decoration: none;
}

logo {
	margin: 0;
	font-size: 1.45em;
}

.header{
   margin-bottom: 40px;
}

.main-nav {
	margin-top: 5px;
  display :flex;
  flex:right;
 
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.title{
  margin-bottom : 20px;
}

.author{
  margin : 25px 0px;
}

.header {
	padding-top: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.add-button{
	cursor : pointer;
	margin-top : 30px;
}
